@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  src: local("Oceanwide"), url("../fonts/oceanwide-cufonfonts/Oceanwide-Semibold.otf") format("truetype");
  src: local("Poppins"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oceanwide', sans-serif;
  scroll-behavior: smooth;
}

#blogs {
  font-family: 'Poppins', sans-serif;
}


#blog span {
  font-family: 'Poppins', sans-serif !important;
}

#results {
  font-family: 'Oceanwide', sans-serif;

}

#ptag {
  font-family: 'Poppins', sans-serif;

}

#register div input {
  font-family: 'Poppins', sans-serif;
} 

a {
  font-family: 'Poppins', sans-serif;

}

#formLogin input{
  font-family: 'Poppins', sans-serif;

}

#formDiv span, u{
  font-family: 'Poppins', sans-serif;

}